[submodule "OSVR-Core"]
	path = OSVR-Core
	url = https://github.com/zolcsielesosvr/OSVR-Core.git
[submodule "SteamVR-OSVR"]
	path = SteamVR-OSVR
	url = https://github.com/zolcsielesosvr/SteamVR-OSVR.git
[submodule "Libs/libfunctionality"]
	path = Libs/libfunctionality
	url = https://github.com/zolcsielesosvr/libfunctionality.git
[submodule "Libs/DirectShow"]
	path = Libs/DirectShow
	url = https://github.com/zolcsielesosvr/DirectShow.git
